@use 'variables';

.cards {
    padding: 64px 0;


    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    &--image-right {
        background-color: variables.$textColor1;
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__title {
        @each $property, $value in variables.$title {
            #{$property}: $value;
        }
        margin: 32px auto 64px auto;
    }
    &__image {
        max-width: 360px;
        border-radius: 20px;
    }

    &__detail {

        &__text {
            @each $property, $value in variables.$text {
                #{$property}: $value;
            }
        }

        &__description {
            @each $property, $value in variables.$description {
                #{$property}: $value;
            }
        }
    }

    @media (max-width:640px) {
        .container {
            display: block;
        }

        &__detail {

            &__description {
                padding-bottom: 32px;
            }
        }

        .button {
            padding: 8px;
        }

        &__image {
            width: 100%;
            margin-top: 32px;
        }

        &__details {
        margin-right: 0;
        margin-bottom: 16px;
        }
    }
}