@use 'variables';

.info1 {
    text-align: center;
    padding: 64px 0;

    background-color: variables.$blue;

    .info__title {
        background-color: transparent;
        color: variables.$textColor1;
        text-align: center;

        .span {
            color: variables.$pink;
        }
    }
    .button {
        color: variables.$blue;
        background-color: variables.$textColor1;

        &:hover {
            background-color: variables.$pink;
        }
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__title {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }

        &__text {
            font-size: 18px;
            line-height: 22px;
            margin: 24px 0;
        }
    }
}

#info1 {
    padding: 0px;
    margin: 16px;
    color: variables.$pink;
    background-color: transparent;
    text-align: center;
    font-weight: 500;
}

#info2 {
    padding: 4px 0;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
    color: variables.$textColor1;
    background-color: transparent;
    text-align: center;
}