$blue: #22376a;
$blueLight:#2f4a89;
$pink: #fd79a8;
$textColor1: #fff;

$title: (
padding: 16px,
margin: 32px 0,
font-size: 40px,
line-height: 40px,
font-weight: 800,
text-align: left,
color: $pink,
background-color: $textColor1,
border-radius: 20px,
);

$text: (
    padding: 16px,
    margin: 16px 0,
    font-size: 24px,
    line-height: 28px,
    font-weight: 800,
    text-align: left,
    background-color: $textColor1,
    color: $pink,
    border-radius: 20px,
);

$description: (
    padding: 16px,
    margin: 12px 0,
    font-size: 18px,
    line-height: 20px,
    font-weight: 800,
    text-align: left,
    background-color: $textColor1,
    color: $pink,
    border-radius: 20px,
);