@use '../variables.scss';

.button {
    display: inline-block;
    padding: 16px;
    margin: 16px 0;
    font-size: 16px;
    background-color: variables.$blue;
    color: variables.$textColor;
    text-decoration: none;
    font-weight: bold;
    border-radius: 32px;

    &__what {
        margin: 0 4px;
    }
}